h2 {text-align:center; color:#4169e0;}
pre {text-align:justify; Color:#00008b;}
img {height: 400px;}
div {text-align:center;
width: 650px; padding:
white; margin-left:
auto; 
margin-right: auto} 